body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #009900;
}

form {
    margin: 20px auto;
    max-width: 300px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #009900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #006600;
}

#userProfile {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 300px;
    margin: 20px auto;
}
